<template>
    <div>
        <div>
            <label>if else if A,B, Else C</label>
            <br>
            <input type="text" v-model="type" />
            <br>
            <h1 v-if="type=='A'">A</h1>
            <h1 v-else-if="type=='B'">B</h1>
            <h1 v-else>C</h1>
        </div>
        <div>
            <label>true false show hidden</label>
            <input type="checkbox" v-model="check" />
            <br>
            <h1 v-show="check">A</h1>
        </div>
    </div>
</template>
<script>
export default {
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
      type: 'A',
      check: true
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
  }
}
</script>
