<template>
    <div>
        <table>
            <thead>
                <tr>
                    <th>제품명</th>
                    <th>가격</th>
                    <th>카테고리</th>
                    <th>배송료</th>
                </tr>
            </thead>
            <tbody>
                <tr :key="i" v-for="(product,i) in productList">
                    <td>{{product.product_name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.delivery_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
      productList: [
        { product_name: '뀨', price: 11, category: '청소년', delivery_price: 5 },
        { product_name: '리즈', price: 77, category: '구직자', delivery_price: 50 },
        { product_name: '빼꼼', price: 33, category: '유부남', delivery_price: 7 },
        { product_name: '아크', price: 99, category: '전문직', delivery_price: 7 },
        { product_name: '영도', price: 10, category: '유부남', delivery_price: 7 },
        { product_name: '쌉가', price: 54, category: '유부남', delivery_price: 7 },
        { product_name: '짭가', price: 34, category: '유부남', delivery_price: 7 }
      ]
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
  }
}
</script>
