##### 다른 이벤트로는 @keyup.  이벤트 들도 있다.
<template>
    <div>
        <input type="number" v-model="counter" @change="setNum()"/>
        <br>
        <button type="button" @click="increaseCounter()"> Add 1</button>
        <button type="button" @click="setCount(7)"> Add 7</button>
        <p>The counter is : {{counter}}</p>
        <button type="button" @click="one(), two()">wtf</button>
    </div>
</template>
<script>
export default {
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
      counter: 0
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
    increaseCounter () {
      this.counter = this.counter + 1
    },
    setCount (set) {
      this.counter = this.counter + Number(set)
    },
    one () {
      alert('What the')
    },
    two () {
      alert('Fxxk')
    },
    setNum () {
      this.counter = Number(this.counter)
    }
  }
}
</script>
