<template>
  <event-child @send-message="sendMessage" ref="child_component" />
  <h1>{{getmsg}}</h1>
  <input type="text" v-model="sendname" />
  <button type="button" @click="sendToChild" > send child </button>
  <button type="button" @click="callchild" > call child </button>
</template>
<script>
import EventChild from './EventChild.vue'
export default {
  components: { EventChild },
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
      sendname: '',
      getmsg: ''
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
    this.$refs.child_component.$refs.btn.click()
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
    callchild () {
      this.$refs.child_component.$refs.btn.click()
    },
    sendToChild () {
      this.$refs.child_component.btn_name = this.sendname
    },
    sendMessage (data) {
      this.getmsg = data
    }
  }
}
</script>
