<template>
    <div>
        <label><input type="radio" v-bind:value="radioValue1" v-model="picked">Seoul</label>
        <label><input type="radio" v-bind:value="radioValue2" v-model="picked">Deagu</label>
        <label><input type="radio" v-bind:value="radioValue3" v-model="picked">Jeju</label>
        <br>
        <span> your choise : {{picked}}</span>
    </div>
</template>
<script>
export default {
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
      picked: '',
      radioValue1: 'Seoul',
      radioValue2: 'Deagu',
      radioValue3: 'Jeju'
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
  }
}
</script>
