<template>
  <h2>props print: {{happy}}</h2>
  <h2>dynimic print Num: {{dyniNum}}</h2>
  <h2>dynimic print Bool: {{dyniBool}}</h2>
  <h2>dynimic print Arr: {{dyniArr}}</h2>
  <h2>dynimic print Obj: {{dyniObj.name}}</h2>
  <h2>dynimic print Obj Attr: {{dyniArr}}</h2>
</template>
<script>
// 더 많은 연구 필요함 졸라 어렵네
export default {
  props: {
    happy: {
      type: String,
      default: 'exbox'
    },
    dyniNum: Number,
    dyniBool: Boolean,
    dyniArr: Array,
    dyniObj: Object
  },
  name: '', // 콤포넌트 이름
  component: {}, // 다른 컴포넌트 사용 시 컴포넌드를 import하고, 배열로 저장
  data () { // html과 자바스크립트 코드에서 사용할 데이터 변수 선언
    return {
    }
  },
  setup (props) {
    // 컴포지션 API
  },
  created () {
    // 컴포넌트가 생성되면 실행
  },
  mounted () {
    // template에 정의된 html 코드가 랜더링된 후 실행
  },
  unmounted () {
    // unmount가 완료된 후 실행
  },
  methods: {
    // 컴포넌트 내에서 사용할 메소드 정의
  }
}
</script>
