<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/databinding">Data Binding</router-link> |
    <router-link to="/databindinghtml">v-Html</router-link> |
    <router-link to="/databindinginputtext">input</router-link> |
    <router-link to="/databindinginputnumber">Num-input</router-link> |
    <router-link to="/textarea">text-box</router-link> |
    <router-link to="/select">Select</router-link> |
    <router-link to="/checkbox">Check-Box</router-link> |
    <router-link to="/radio">Radio</router-link> |
    <router-link to="/about">About</router-link>
    <br>
    <router-link to="/imgbinding">img</router-link> |
    <router-link to="/button">button</router-link> |
    <router-link to="/classbinding">css class</router-link> |
    <router-link to="/tableV-for">table v-for</router-link> |
    <router-link to="/seriesv">v series</router-link> |
    <router-link to="/event">event</router-link> |
    <router-link to="/caw">computed and watch</router-link>
    <br>
    <router-link to="commulist">get list</router-link> |
    <router-link to="nc">view and component</router-link> |
    <router-link to="ptoc">parent call me</router-link> |
    <router-link to="provideinject">provide and inject</router-link>
  </div>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
